<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="payment/layout :: head">
    <meta charset="UTF-8">
    <title>Edit Payment</title>
</head>
<body>
<h3>Edit Payment</h3>
<div th:id="form">
<h2><a th:href="@{/admin/list-payment}">Back to Payment List</a></h2>
<form th:action="@{/admin/update-payment}" th:object="${payments}" method="post">
    <input type="hidden" th:text="${payments.getPaymentId()}">
    <table th:id="payment">
        <tr>
            <td>Code:</td>
            <td><input type="text" th:field="*{paymentCode}"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{paymentDescription}"></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>
                <input type="radio" th:field="*{paymentStatus}" th:value="true" />
                <label th:text="true" />
                <input type="radio" th:field="*{paymentStatus}" th:value="false" />
                <label th:text="false" />
            </td>

        </tr>
        <tr>
            <td><button  type="submit" class="button" style="vertical-align:middle"><span>Edit </span></button>
        </tr>
    </table>
</form>
</div>
<footer th:replace="payment/layout :: footer"></footer>
</body>
</html>