<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="payment/layout :: head">
    <meta charset="UTF-8">
    <title>Payment List</title>
</head>
<body>
<p>
    <a href="/admin">Back to home page</a>
</p>
<h3>Payment list</h3>
<p>
    <a href="/admin/create-payment">Create Payment</a>
</p>


<table th:id="payment">
    <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="payment : ${payments}">
        <tr>
            <td th:text="${payment.paymentCode}"></td>
            <td th:text="${payment.paymentDescription}"></td>
            <td th:text="${payment.paymentStatus}"></td>
            <td><a th:href="@{/admin/edit-payment/__${payment.paymentId}__}">Edit</a></td>
            <td><a th:href="@{/admin/delete-payment/__${payment.paymentId}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
<footer th:replace="payment/layout :: footer"></footer>
</body>
</html>