<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="bill/layout :: head">
    <meta charset="UTF-8">
    <title>Edit Bill</title>
</head>
<body>
<h3>Update Bill</h3>
<div th:id="form">
<h2><a th:href="@{/admin/list-bill}">Back to List Bill</a></h2>
<form th:action="@{/admin/update-bill}" method="post" th:object="${bills}">
    <table th:id="bill">
        <td><input type="hidden" th:field="*{billId}"></td>
        <tr>
            <td>Number:</td>
            <td><input type="text" th:field="*{billNumber}"></td>
        </tr>
        <tr>
            <td>Date:</td>
            <td><input type="date" th:field="*{billDate}"></td>
        </tr>

        <tr>
            <td><button type="submit" class="button" style="vertical-align:middle"><span>Update </span></button></td>
        </tr>

    </table>
</form>
</div>
<footer th:replace="bill/layout :: footer"></footer>
</body>
</html>