<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Create Mobile</title>
</head>
<body>
<h3>Create Mobile</h3>
<p>
    <a href="/admin/list-mobile-by-name">Back to Mobile List</a>
</p>

<div th:id="form">
<form th:action="@{/admin/save-mobile}" th:object="${mobiles}" method="post">
    <table border="1px">
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{mobileName}"/></td>
            <td> <input type="text"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{mobilePrice}"/></td>
            <td> <input type="text" th:if="${#fields.hasErrors('mobilePrice')}" th:errors="*{mobilePrice}">Name Error</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{mobileDescription}"/></td>
            <td> <input type="text" th:if="${#fields.hasErrors('mobileDescription')}" th:errors="*{mobileDescription}">Name Error</td>

        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="text" th:field="*{mobileImage}"/></td>
        </tr>

        <tr>
            <td>Producer:</td>
            <td>
                <select th:field="*{producer}" th:class="select">
                    <option th:each="p : ${producer}" th:value="${p.producerId}" th:text="${p.producerName}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Mobile Type:</td>
            <td>
                <select th:field="*{mobileType}" th:class="select">
                    <option th:each="p : ${mobileType}" th:value="${p.mobileTypeId}" th:text="${p.mobileTypeName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" class="button" style="vertical-align:middle"><span>Create </span></button></td>
        </tr>
    </table>
</form>
</div>
<footer th:include="mobile/layout :: footer"></footer>
</body>
</html>
